html { font-size: 10px; }

body { 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  font-family: sans-serif;
  font-size: 1.4rem;
}

.cards {
  display: flex;
  border: 1px solid gray;
  padding: 20px;
  width: 80vw;
  border-radius: 10px;
  justify-content: space-between;
}

.title {
  text-align: center;
  color: black;
  font-size: 3rem;
  padding: 20px;
}
.subtitle{
  text-align: center;
  font-size: 2rem;
}

.editor,
.preview {
  width: 38vw;
  padding: 10px;
  height: 600px;
}
#preview{
  background-color: gainsboro;
  max-height: 500px;
  overflow-y:scroll;
}
#editor{
  height: 500px;
  width: inherit;
}
img{
  max-width: 30vw;
}